<ion-view view-title="{{config.name}}" ng-controller="ConfigCtrl">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Configuration Name:</span>
      {{config.name}}
    </label>

    <div class="row">
      <div class="item range">
        <span class="icon ion-android-remove-circle" ng-click="decMoisture()"></span>
        <input type="range" name="volume" ng-model="config.moisture">
        <span class="icon ion-android-add-circle" ng-click="incMoisture()"></span>
      </div>
    </div>
    <button ng-click="saveConfig()" class="button button-balanced">
      save
    </button>
    <button class="button icon-left ion-edit button-energized">
      edit
    </button>
    <button class="button icon-left ion-close button-assertive">
      delete
    </button>
  </ion-content>
</ion-view>
