<ion-view view-title="Configurations" ng-controller="ConfigOverviewCtrl">
    <ion-content>
        <div class="row fixed-top">
            <div class="col col-25">
                <a ng-href="/#/configs/newConfig">
                    <button class="button button-balanced ion-plus">
                        New
                    </button>
                </a>
            </div>
            <div class="col col-75">
                <div class="item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input ng-model="query" type="search" placeholder="Search">
                    </label>
                    <button class="button button-clear" ng-click="query=''">
                        Clear
                    </button>
                </div>
            </div>
        </div>
        <div class="list">

            <div class="item item-button-right" ng-repeat="config in configs | filter: query">
                <a ng-href="">
                    {{config}}
                </a>
                <button class="button button-assertive" ng-click="showConfirm()">
                    <i class="ion-ios-close-empty"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>