<ion-view view-title="Configurations" ng-controller="ConfigOverviewCtrl">
     <div class="bar bar-subheader">
          <button class="button button-balanced ion-plus new-config-button" ng-href="#/configs/newConfig">
               New
          </button>
          <div class="searchbar-container">
               <div class="item-input-inset searchbar">
                    <label class="item-input-wrapper">
                         <i class="icon ion-ios-search placeholder-icon"></i>
                         <input ng-model="query" type="search" placeholder="Search">
                    </label>
                    <button class="button button-clear" ng-click="query=''">
                         Clear
                    </button>
               </div>
          </div>
     </div>
     <ion-content class="has-header has-subheader">
          <div class="list">
               <div class="item item-button-right" ng-repeat="configName in configs | filter: query">
                    <a ng-href="#/configs/{{configName}}">
                    {{configName}}
                    </a>
                    <button class="button button-assertive" ng-click="deleteConfig(configName)">
                         <i class="ion-ios-close-empty"></i>
                    </button>
               </div>
          </div>
     </ion-content>
</ion-view>
