<ion-view view-title="My Garden" ng-controller="GardenOverviewCtrl">
     <ion-content>
          <div class="card" ng-repeat="device in devices">
               <div class="item item-divider">
                    Devicename: {{device.name}}
               </div>
               <div class="item">
                    Status: {{device.status}}
               </div>
               <label class="item item-input item-select">
                    <div class="input-label">
                         Configuration
                    </div>
                    <select ng-model="device.config" ng-change="assignConfig(device)">
                         <option ng-repeat="config in configs">{{config}}</option>
                    </select>
               </label>
               <div class="item">
                    <div class="row">
                         <div class="col col-50 text-center">
                           Waterlevel

                              <div class="progress-wrapper">
                                   <div class="progress" ng-style="getStyle()">{{device.waterlevel}}</div>
                                   <div class="progress" round-progress max="100" current="device.waterlevel" color="#45ccce" bgcolor="#eaeaea" radius="100" stroke="20" rounded="true" clockwise="false" responsive="true" duration="800" animation="easeInOutQuart" animation-delay="0">
                                   </div>
                              </div>
                         </div>
                         <div class="col col-50 text-center">
                              Moisture
                              <div class="progress-wrapper">
                                   <div class="progress" ng-style="getStyle()">{{device.moisture}}</div>
                                   <div class="progress" round-progress max="100" current="device.moisture" color="#8d6e63" bgcolor="#eaeaea" radius="100" stroke="20" rounded="true" clockwise="false" responsive="true" duration="800" animation="easeInOutQuart" animation-delay="0">
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </ion-content>
</ion-view>
