.moisture-range {
  padding: 0;
  width: 100%
}

.tank {
    /* size */
    width: 150px;
    height: 300px;

    /* colors */
    border: 2px solid black;
    background: white;

    position: relative; /* to allow positioning the water at bottom */

    display: inline-block; /* so the div doesn't wrap */
    margin: 10px; /* space between divs */
}

.tank .water {
    position: absolute;

    /* color of water */
    background: #4dd2ff;

    /* water position */
    width: 100%;
    bottom: 0;
}

.searchbar-container {
    display: inline-block;
}

.searchbar {
    padding: 0;
}

.new-config-button {
    display: inline-block;
    padding-right:10px 0 0;
}

.no-padding {
    padding: 0;
}

.config-name {
    color: black;
    text-decoration: none;
}

.message {
    padding: 5px;
    margin: 2px 5px 2px 5px;
    display: inline-block;
    background-color: #11c1f3;
    border-radius: 5px;
    color: #fff;
    position: relative;
}

.right-message {
    float: right;
}

.message-container {
    display: block;
    clear: right;
}

.bottommsg{
	position: fixed;
	bottom:0px;
	width: 100%;
}

.progress-wrapper{
    position: relative;
    margin:20px auto;
    font-size: 20px;
}
.progress{
    position: absolute;
    color: #444;
    font-weight: 100;
    line-height: 1;
}
