.moisture-range {
  padding: 0;
  width: 100%
}

.tank {
    /* size */
    width: 150px;
    height: 300px;

    /* colors */
    border: 2px solid black;
    background: white;

    position: relative; /* to allow positioning the water at bottom */

    display: inline-block; /* so the div doesn't wrap */
    margin: 10px; /* space between divs */
}

.tank .water {
    position: absolute;

    /* color of water */
    background: #4dd2ff;

    /* water position */
    width: 100%;
    bottom: 0;
}

.searchbar-container {
    display: inline-block;
}

.searchbar {
    padding: 0;
}

.new-config-button {
    display: inline-block;
    padding-right:10px 0 0;
}

.no-padding {
    padding: 0;
}
