.moisture-range {
  padding: 0;
  width: 100%
}

.searchbar-container {
    display: inline-block;
}

.searchbar {
    padding: 0;
}

.new-config-button {
    display: inline-block;
    padding-right:10px 0 0;
}

.no-padding {
    padding: 0;
}

.config-name {
    color: black;
    text-decoration: none;
}

.message {
    padding: 5px;
    margin: 2px 12px 2px 12px;
    display: inline-block;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    color: #fff;
    position: relative;
    width: auto;
    max-width: 300px;
}

.system-message {
    padding: 5px;
    margin: auto;
    display: block;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    color: black;
    border: 1px solid grey;
    background-color: white;
    position: relative;
    width: 90%;
    clear: both;
}

.left-message:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #c9c9c9;
  border-bottom: 10px solid transparent;
  clear: both;
}

.content{
	bottom:70px;
}

.left-message {
  background-color: #c9c9c9;
}

.right-message {
    float: right;
    background-color: #9ad3de;
}

.right-message:after {
  content: '';
  position: absolute;
  right: -10px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #9ad3de;
  border-bottom: 10px solid transparent;
  clear: both;
}

.message-container {
    display: block;
    clear: right;
    position: relative;
}

.bottommsg{
	position: fixed;
	bottom:0px;
	width: 100%;
}

.progress-wrapper{
    position: relative;
    margin:20px auto;
    font-size: 20px;
}
.progress{
    position: absolute;
    color: #444;
    font-weight: 100;
    line-height: 1;
}
